*{
	box-sizing: border-box;
}
body{
	margin: 0 auto;
}


h1{
	font-family: sans-serif;
	font-size: 40px;
}
p {
    font-size: 20px;
    font-weight: normal;
}
hr {
    width: 50%;
    height: 3px;
    background-color: #060505;
    /* color: red; */
}
/*header start*/
header{
	height: 70px;
	background-color: #111;
	border-bottom: 5px solid rgba(76, 76, 76, 0.44);
}
.icon{
	margin-left: 90px;
	width: 200px;
	float: left;
}
.icon img{
	height: 30px;
	margin-left: 5px;
	margin-top: 18px;
	    border: 2px solid white;
    border-radius: 50px;
}
nav{
	float:right;
	margin-right: 100px;
}
ul li {
	list-style: none;
	float: left;
	
}
li a{
	font-family: sans-serif;
	line-height: 30px;
	text-decoration: none;
    float: left;
    margin-right: 29px;
    font-size: 20px;
    /*border: 1px solid;*/
    color: #fff;
    padding: 2px 5px;
    border-radius: 5px;
}
/*header end*/

 /*about area start*/
#about{
height: 378px;
background-image: url(../img/me.jpeg);
}
.myimg {
	float: left;
	width: 400px;
}
.myimg img{
margin-top: 44px;
    margin-left: 228px;
    height: 320px;
    width: 264px;
    border: 9px solid rgba(43, 43, 43, 0.2);
    border-radius: 33px;
}
aside{
	    width: 600px;
    float: right;
    margin-right: 172px;
    margin-top: 50px;
}
 /*about area end */

 /*my skril area start*/
 .skril_main_area{
 	margin-bottom: 500px;
 }
.myskrill article,.protfolio article{
text-align: center;
width: 846px;
margin: 0 auto;
margin-top: 80px;
}
 .myskrill,.protfolio{
 	width: auto;
 }

 .skrill_area{
 	padding-left: 200px;
 	margin-top: 70px;
 	float: left;
 }
.skrill_area2{
	padding-right:100px;
 	margin-top: 70px;
 	float: right;
}
#html{
width: 450px;
height: 20px;
border: 1px solid red;
border-radius:1px solid #D40D0D;
border-radius: 5px 5px;
 
}
.html5{
	background:rgb(212, 13, 13);
	height: 100%;
	width:75%;

}
.css3{
	background:rgb(212, 13, 13);
	height: 100%;
	width:50%;

}
.Bootstrap{
	background:rgb(212, 13, 13);
	height: 100%;
	width:20%;

}
.Photoshop{
	background:rgb(212, 13, 13);
	height: 100%;
	width:60%;

}
/*my skril area end*/

/*protfolio area start */
.all_service {
    margin-left: 175px;
    margin-top: 50px;
}
.all_service img{
	margin-left: 20px;
}

/*protfolio area end */

/*contrac area start */
.form{
	margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}
	.form_control {
    width: 500px;
    height: 30px;
    margin-bottom: 20px;
    border:1px solid;
    border-radius: 4px;
    text-align: center;
}
.btn{
	    width: 140px;
    height: 40px;
    border: 1px solid;
    font-size: 19px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}
input.btn:hover {
    background-color: rgb(17, 17, 17);
    color: #fff;
    transition: all .4s ease;
}
  /*contrac area end */
/*<!-- footer area start*/
footer h5{
	color: #fff;
	line-height: 65px;

}
footer {
    margin-top: 90px;
    height: 64px;
    background-color: #111;
    text-align: center;
    color: #fff;
}


 /*footer area end */